<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link active" aria-current="page" routerLink="/list-client">Liste des clients</a>
          </li>
        
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/add-client">Nouveau Client</a>
          </li>
          </ul>
          
          <ul class="navbar-nav ms-auto">
          <li class="nav-item">
          
        </li>
      </ul>
        
      </div>
    </div>
  </nav>
  
 
        
    
        <table class="table" *ngIf="clients && clients.length>0">
            <thead>
                <tr>
                  <th>Id Client</th>
                    <th>Agence</th>
                    <th>Numéro de téléphone</th>
                    <th>Secteur d'activité</th>
                    <th>Sous activité</th>
                    <th>Activité</th>
                    <th>Situation immobiliére</th>
                    <th>Date de la derniére visite</th>
                    <th>Type</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>sex</th>
                    <th>Nombre d'enfants</th>
                    <th>Situation familiale</th>
                    <th>interlocuteur_principal</th>
                    <th>Cycle</th>
                    <th>Sigle</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clients">
                  <td>{{client.id_Client}}</td>
                    <td>{{client.agence}}</td>
                    <td>{{client.phone}}</td>
                    <td>{{client.secteur_activite}}</td>
                    <td>{{client.sous_activite}}</td>
                    <td>{{client.activite}}</td>
                    <td>{{client.situation_familiale}}</td>
                    <td>{{client.date_dernier_visite}}</td>
                    <td>{{client.type}}</td>
                    <td>{{client.nom}}</td>
                    <td>{{client.prenom}}</td>
                    <td>{{client.sex}}</td>
                    <td>{{client.nombre_enfants}}</td>
                    <td>{{client.situation_immobiliere}}</td>
                    <td>{{client.interlocuteur_principal}}</td>
                    <td>{{client.sigle}}</td>
                    <td>{{client.cycle}}</td>
                    
                    <td><a [routerLink]="['/operations' , client.id_Client]">View</a></td>
                </tr>
            </tbody>
    
        </table>
        <p *ngIf="!clients || clients.length <=0">Aucune client trouvée</p>
    
    
  
  
    <ul>
    
    
  </ul>
  