.body {
    background-image: url('../../../assets/4239790.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}
.card {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.7);
    height: 30rem;
    border-radius: 10px;
  }
  
  .form-control {
    box-shadow: none;
  }
  
  .form-control:focus {
    box-shadow: none;
  }
  
  .btn-primary {
    background-color: #4CAF50;
    border: none;
    box-shadow: none;
    margin-bottom: 3rem;
  }
  .form-group {
    margin-bottom: 3rem; /* adjust this value to increase or decrease the space between form elements */
}
  
  .btn-primary:hover {
    background-color: #3e8e41;
    border: none;
    box-shadow: none;
  }
  .message-error {
    color: red;
    font-weight: bold;
  }
  
  .message-success {
    color: green;
    font-weight: bold;
  }
