.maps-container {
    max-width: 3000px; /* Ajustez selon vos besoins */
    margin: 0 auto; /* Centrer le contenu horizontalement */
    padding: 20px; /* Ajoutez un peu d'espace autour du contenu */
    color: black;
    background-color: #ffffff;
  }
  
  .custom-heading-right {
    text-align: left; /* Alignement du texte à gauche */
  }
  
  .table-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Ombre légère */
    border-radius: 8px; /* Coins arrondis pour un meilleur effet visuel */
  }
  .form-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Ombre légère pour le formulaire */
    border-radius: 8px; /* Coins arrondis pour un meilleur effet visuel */
    padding: 20px; /* Ajout de padding pour l'intérieur du formulaire */
    background-color: #f9f9f9; /* Couleur de fond pour le formulaire */
  }