<div class="edit-container">
    <div class="row">
        <!-- Formulaire pour les Garanties -->
        <div class="col-lg-6">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="custom-heading-right"><strong>Points de vente</strong></h2>
                        <form #form="ngForm" (ngSubmit)="updatePointvente()">
                            <div class="mb-3">
                                <label for="propriete" class="form-label">Propriété</label>
                                <select class="form-select" id="propriete" name="propriete" [(ngModel)]="addPointVenterequest.propriete" required>
                                    <option *ngFor="let propriete of proprietes" [value]="propriete">{{ propriete }}</option>
                                </select>
                            </div>
                        <div class="mb-3">
                            <label for="nbrJoursOuverture" class="form-label">Nombre de Jours d'Ouverture</label>
                            <input type="text" class="form-control" id="nbrJoursOuverture" name="nbrJoursOuverture" [(ngModel)]="addPointVenterequest.nbrJoursOuverture" required>
                        </div>
                        <div class="mb-3">
                            <label for="Surface" class="form-label">Surface</label>
                            <input type="text" class="form-control" id="Surface" name="Surface" [(ngModel)]="addPointVenterequest.surface" required>
                        </div>
                        <div class="mb-3">
                            <label for="Emplacement" class="form-label">Emplacement</label>
                            <input type="text" class="form-control" id="Emplacement" name="Emplacement" [(ngModel)]="addPointVenterequest.emplacement" required>
                        </div>
                       

                        <div class="mb-3">
                            <label for="Type" class="form-label">Type de point de vente</label>
                            <select class="form-select" id="Type" name="Type" [(ngModel)]="selectedtypeId" (change)="onTypepointVenteSelected()" required>
                                <option *ngFor="let type of typesPointVente" [value]="type.idTypePointVente">{{ type.type }}</option>  
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                        <button type="button" class="btn btn-danger" (click)="deletePointvente(addPointVenterequest.idPV)">Supprimer</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>