<div class="dashboard-container">
  <div class="container">
      <div class="row">
          <!-- Ajouter des boutons au début de la page -->
          <div class="row">
            <div class="col-12" style="margin-bottom: 20px;">
                <button type="button" class="btn btn-primary" style="margin-right: 50px;">Clients Particuliers</button>
                <button type="button" class="btn btn-secondary" routerLink="/nav/dashboard-ClientsEntreprise">Clients entreprise</button>
            </div>
          </div>

          <div style="margin-bottom: 20px;"></div> <!-- Ajouter un espacement vertical -->
          <div class="col-md-6">
              <div class="chart-container">
                <canvas baseChart
                        [datasets]="agenceChartData"
                        [labels]="agenceChartLabels"
                        [options]="agenceChartOptions"
                        [legend]="agenceChartLegend"
                        [type]="agenceChartType">
                </canvas>
              </div>
          </div>
          <div class="col-md-6">
              <div class="chart-container">
                <canvas baseChart
                        [datasets]="SecteurChartData"
                        [labels]="SecteurChartLabels"
                        [options]="SecteurChartOptions"
                        [legend]="SecteurChartLegend"
                        [type]="SecteurChartType">
                </canvas>
              </div>
          </div>
          <div style="margin-bottom: 40px;"></div> <!-- Ajouter un espacement vertical -->
          <div class="col-md-6 sex" style="margin-left: 25px;">
              <div class="chart-container">
                <canvas baseChart
                        [datasets]="sexChartData"
                        [labels]="sexChartLabels"
                        [options]="sexChartOptions"
                        [legend]="sexChartLegend"
                        [type]="sexChartType">
                </canvas>
              </div>
          </div>
          <div class="col-md-6 date">
              <div class="chart-container">
                <canvas baseChart
                        [datasets]="DateChartData"
                        [labels]="DateChartLabels"
                        [options]="DateChartOptions"
                        [legend]="DateChartLegend"
                        [type]="DateChartType">
                </canvas>
              </div>
          </div>
          <div class="col-md-6 date">
              <div class="chart-container">
                <canvas baseChart
                        [datasets]="SitImmChartData"
                        [labels]="SitImmChartLabels"
                        [options]="SitImmChartOptions"
                        [legend]="SitImmChartLegend"
                        [type]="SitImmChartType">
                </canvas>
              </div>
          </div>
          <div class="col-md-6 date">
              <div class="chart-container">
                <canvas baseChart
                        [datasets]="SitFamChartData"
                        [labels]="SitFamChartLabels"
                        [options]="SitFamChartOptions"
                        [legend]="SitFamChartLegend"
                        [type]="SitFamChartType">
                </canvas>
              </div>
          </div>
      </div>
  </div>
</div>
