.checklist-container {
    max-width: 3000px; /* Ajustez selon vos besoins */
    margin: 0 auto; /* Centrer le contenu horizontalement */
    padding: 20px; /* Ajoutez un peu d'espace autour du contenu */
    color:black;
    background-color: #ffffff;
  }

  .required::after {
    content: " *";
    color: red;
}


.adjusted-margin {
  margin-left: -32px; /* Ajustez cette valeur selon vos besoins pour le déplacement vers la gauche */
  margin-top: 11px;   /* Ajustez cette valeur selon vos besoins pour le déplacement vers le bas */
}